*{
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.ui {
   width: 350px;
   height: 500px;
}

.display {
    width: 350px;
    height: 200px;
    background-color:  #F8F8FF;
}

.buttons {
    background-color: white;
    width: 350px;
    height: 300px;
}