*{
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    height: 100vh;
    background-color: black;
}

.ui {
   width: 350px;
   height: 500px;
}

.display {
    width: 350px;
    height: 200px;
    background-color:  #F8F8FF;
}

.buttons {
    background-color: white;
    width: 350px;
    height: 300px;
}

.row {
    display: flex;
    justify-content: space-evenly;
    width: 350px;
    height: 60px;
}

.clear-button {
    width: 30px;
    height: 30px;
}


.percent-button {
    width: 30px;
    height: 30px;
}


.backspace-button {
    width: 30px;
    height: 30px;
}


.multiplication-button {
    width: 30px;
    height: 30px;
}

.icon{
    width: 30px;
    height: auto;
}