*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1F2937;
}

.ui {
   width: 280px;
   height: 410px;
   background-color:  #F8F8FF;
}

.display {
    height: 100px;
    padding: 5px;
}

.buttons {
    height: 300px;
    padding: 5px;
}

.row-one, .row-two, .row-three, .row-four, .row-five {
    display: flex;
    justify-content: space-evenly;
    height: 60px;
}

.button{
    width: 50px;
    height: 50px;
    transition: transform 0.2s ease;
}

.equal {
    width: 115px;
    height: 50px;
    border-radius: 5px;
}

.upper-display, .lower-display {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
    height: 50px;
    padding: 20px;
}

.lower-display {
    font-size: 50px;
    font-weight: 900;
}


.button:active {
    transform: scale(0.95);
}